.app-description {
  width: 100%;
  margin: 0;
  padding: 8px;
  background: linear-gradient(
    180deg,
    rgba(37, 37, 37, 1) 0%,
    rgba(39, 25, 53, 1) 32%,
    rgba(7, 39, 26, 1) 100%
  );
}
.app-description .title {
  width: 100%;
}

.main-app-section {
  margin-top: 21px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.video-app-div {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-app-div h3 {
  color: white;
  text-align: center;
  font-size: 0.85em;
}
.youtube-video-div {
  background-color: aqua;
  height: 59%;
  width: 103%;
  margin-top: 17%;
}
.video-app-container {
  display: flex;
  position: relative;
}

.video-app-container img {
  position: relative;
  max-width: 73%;
  height: 232px;
  z-index: 2;
}
.video-app-container video {
  width: 85px;
  position: absolute;
  height: 231px;
  padding-top: 28px;
  margin-right: 202px;
}

.app-details-wrapper {
  width: 90%;
  margin: 4% auto;
  margin-bottom: 0;
}

.app-div-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 13%;
  display: grid;
  grid-template-columns: (1, 1fr);
}

.app-div-list li {
  margin-top: 13%;
}

.app-div {
  margin: auto;
  padding: 2%;
  height: auto;
  width: 51%;
  border: solid 1px white;
  border-radius: 13px;
  color: white;
  background: linear-gradient(
    180deg,
    rgb(221 0 255 / 36%) 0%,
    rgba(101, 86, 141, 1) 47%,
    rgba(82, 82, 255, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.app-div-title {
  text-align: center;
  font-size: 0.9em;
  color: rgb(191 251 251);
  text-decoration: underline;
}

.app-div img {
  width: 100%;
  height: auto;
  max-width: 172px;
  max-height: 127px;
  border-radius: 10px;
}

.app-div-text {
  font-size: 0.7em;
  text-align: center;
  margin: auto 5%;
}

@media (min-width: 550px) and (max-width: 768px) {
  .youtube-video-div {
    height: 70%;
    margin-top: 10%;
  }
  .app-div img {
    max-width: 210px;
    max-height: 200px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .app-description .title {
    font-size: 1.9em;
  }
  .youtube-video-div {
    height: 70%;
    width: 79%;
    margin-top: 10%;
  }
  .video-app-div h3 {
    font-size: 1.2em;
  }
  .video-app-container img {
    max-width: 83%;
    height: 283px;
  }
  .video-app-container video {
    height: 283px;
    width: 120px;
  }
  .app-div {
    width: 60%;
  }
  .app-div-title {
    font-size: 1.2em;
  }
  .app-div img {
    max-width: 200px;
    max-height: 174px;
  }
  .app-div-text {
    font-size: 0.9em;
  }
}

@media (width >1023px) {
  .app-description .title {
    font-size: 2.2em;
  }
  .video-app-container img {
    max-width: 84%;
    height: 336px;
  }
  .video-app-container video {
    width: 144px;
    height: 331px;
  }
  .video-app-div h3 {
    font-size: 1.5em;
  }
  .youtube-video-div {
    height: 86%;
    width: 84%;
    margin-top: 4%;
  }

  .app-div img {
    max-width: 205px;
    max-height: 188px;
  }
  .app-div-title {
    font-size: 1.4em;
  }
  .app-div-text {
    font-size: 1em;
  }
  .app-div img {
    max-width: 200px;
    max-height: 174px;
  }
}

@media (width >767px) {
  .app-div-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .app-div-list li {
    margin-top: 5%;
    margin-top: 10%;
  }
}
