.club-relationship {
  height: 586px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.club-relationship-img {
  position: absolute;
  background-image: url(../../multimedia/Captura\ de\ pantalla\ 2024-04-18\ a\ las\ 0.51.04.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 586px;
  width: 100%;
}

.club-relationship-text-container {
  border: solid 1px white;
  z-index: 1;
  border-radius: 10px;
  width: 85%;
  display: flex;
  height: 319px;
  color: white;
  flex-direction: column;
  background-color: rgba(118, 146, 245, 0.45);
}
.club-relationship-text-title {
  padding-left: 2%;
  font-size: 1.6em;
  margin: 0;
  height: 33.3%;
  align-content: center;
}

.club-relationship-text {
  font-size: 1.5em;
  height: 66.6%;
  text-align: center;
}
